<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/admin_login.css">
    <title>Login</title>
</head>
<body>
    <h3>Admin Login</h3>
    <form method="POST" action="/adminlogin">
        {{ form.hidden_tag() }}
        {{ form.adminname.label }}
        {{ form.adminname(type="text", placeholder="Enter admin name", id="adminname") }}
        {{ form.password.label }}
        {{ form.password(type="password", placeholder="Enter password", id="password") }}
        <button type="submit" formmethod="post">Log In</button>
    </form>
</body>
</html>