{% extends "base.html" %}
{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="../static/admin_login.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="usr"><a style="text-decoration: none; color: white;" href="{{url_for('index')}}">Ticket Show App</a></div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">User Login</a>
                </li>
            </ul>
        </div>
    </nav>


    <h3>Admin Login</h3>
    <form method="POST" action="/adminlogin">
        {{ form.hidden_tag() }}
        {{ form.adminname.label }}
        {{ form.adminname(type="text", placeholder="Enter admin name", id="adminname") }}
        {{ form.password.label }}
        {{ form.password(type="password", placeholder="Enter password", id="password") }}
        <button type="submit" formmethod="post">Log In</button>
    </form>
{% endblock %}