<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/registeration.css">
    <title>Registeration</title>
</head>
<body>
    <h3>Register</h3>
    <form method="POST" action="/registeration">
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="userpassword" name="userpassword">
        <label for="password">Confirm Password</label>
        <input type="password" placeholder="Password" id="userpasswordconf" name="userpasswordconf">
        <button type="submit" formmethod="post">Register</button>
    </form>
</body>
</html>