{% extends "base.html" %}
{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="../static/user_login.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="usr"><a style="text-decoration: none; color: white;" href="{{url_for('index')}}">Ticket Show App</a></div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('adminlogin') }}">Admin Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <h3>User Login</h3>
    <form method="POST" action="/userlogin">
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        {{ form.username(type="text", placeholder="Enter user name", id="user_name") }}
        {{ form.password.label }}
        {{ form.password(type="password", placeholder="Enter password", id="user_password") }}
        <div class="buttons">
            <button type="submit" formmethod="post">Log In</button>
            <button type="button" id="regbutton">Register</button>
        </div>
    </form>

    <script type="text/javascript">
        document.getElementById("regbutton").onclick = function () {
            location.href = "{{ url_for('user_registeration') }}";
        }
    </script>
<!-- </body> -->
{% endblock %}
<!-- </html> -->