<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/user_login.css">
    <title>Login</title>
</head>
<body>
    <h3>User Login</h3>
    <form>
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
        <div class="buttons">
            <button>Log In</button>
            <button>Register</button>
        </div>
    </form>
</body>
</html>