{% extends "base.html" %}
{% block head %}
    <title>User Dashboard</title>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../static/user_dash.css">
    <script>
        var data = {{ data|tojson }}
    </script>
    <script src="../static/js/userdash.js"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="usr">User Dashboard</div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('userbookings') }}">Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">  
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} -->
    <div class="venues" id="venues-container">
    </div>

{% endblock %}

<!-- </html> -->